.accordian-header {
  background-color: #fafafa;
  border: 1px solid #dedcdc;
  border-bottom: none;
  box-shadow: 1px 0px 1px #dedcdc;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.accordian-header.disabled {
  cursor: not-allowed;
  color: #aaa;
}

.accordian-icon {
  font-size: 20px;
  margin-top: -4px;
  position: absolute;
}
.accordian-icon.open {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);

  -webkit-transition: -webkit-transform 600ms ease-in-out;
  -ms-transition: -ms-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
}
.accordian-icon.close {
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  -ms-transition: -ms-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
}

.header-content {
  display: inline-block;
  margin-left: 30px;
}

.accordian-body {
  border: 1px solid #dedcdc;
  box-shadow: 1px 1px 1px #dedcdc;
  border-radius: 0 0 3px 3px;
  display: block;
}

.accordian-pad { padding: 15px 20px; }

.accordian-body.open {
  max-height: 400px;
  overflow: auto !important;
  transition: max-height 400ms ease-out;
  -webkit-transition: max-height 400ms ease-out;
  -ms-transition: max-height 400ms ease-out;
}
.accordian-body.close {
  max-height: 0;
  overflow: hidden !important;
  padding: 0 !important;
  transition: max-height 400ms ease-in;
  -webkit-transition: max-height 400ms ease-in;
  -ms-transition: max-height 400ms ease-in;
}
